/*******************************************************/
/*******************************************************/

body, .jspsych-display-element {
  background-color: #A9A9A9 !important; /* Force light grey background */
}

.centerbox {
  padding: 2em;
  max-width: 90%;
  margin:auto;
  test-align: justify;
  font-size: 1.2em;
  line-height: 1.5em;
}



.picture_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: 0%;
  background-color: none;
  text-align: center;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-image img {
  max-width: 90%;
  height: auto;
}

.block-text {
  margin-bottom: 1em;
}

.decision-stim-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px;
}

.cue-block {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stimuli {
  width 200px;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
  overflow: hidden;
  display: block;
}

.target-stimuli {
  border: 3px solid black;
  box-sizing: border-box;
}

.stimulus-block {
  min-height: 100px;  /* Ensure space is reserved */
  display: flex;
  justify-content: center;
  align-items: center;
}

.stimulus-block::before {
  content: "";  /* Prevents unexpected characters from appearing */
  display: block;
  width: 1px;
  height: 1px;
  visibility: hidden;
}
