/*******************************************************/
/*******************************************************/

body, .jspsych-display-element {
  background-color: #A9A9A9 !important; /* Force light grey background */
}

.picture_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: 0%;
  background-color: none;
  text-align: center;
}

/* Fixation in the center */
.fixation {
  font-size: 40px;
  margin-bottom: 20px;
}

img.center {
  height: auto;
  width: auto\9;
  /* ie8 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 65%;
  height: 120px;
  width: 120px;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
