/*******************************************************/
/*******************************************************/

body, .jspsych-display-element {
  background-color: #A9A9A9 !important; /* Force light grey background */
}

.centerbox {
  padding: 2em;
  max-width: 90%;
  margin:auto;
  test-align: justify;
  font-size: 1.2em;
  line-height: 1.5em;
}

.picture_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: 0%;
  background-color: none;
  text-align: center;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-image img {
  max-width: 90%;
  height: auto;
}

.block-text {
  margin-bottom: 1em;
}

.decision-stim-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; /* Ensure proper spacing */
  position: relative;
}

.cue-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stimuli {
  width 200px;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
  overflow: hidden;
  display: block;
}

.target-stimuli {
  border: 3px solid black;
  box-sizing: border-box;
  outline: 1px solid transparent;
  width: 150px; /* Ensure consistent size */
  height: auto;
}

.stimulus-block {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  min-height: 150px;
}

.target-container, .external-container {
  position: relative;
  min-width: 150px; /* Adjust for proper layout */
  min-height: 150px;
  text-align: center;
  font-size: 0 !important;
  overflow: hidden;
}

